AMBIENTE_PROCESSO = producao

# Configurações de conexão com o banco de dados
DB_HOST = 'localhost'
DB_DATABASE = 'biotrace'
DB_USER = 'biotrace_wdv'
DB_PASSWORD = '#'
DB_PORT = '3306'

# Configurações do servidor de aplicação
APP_PORT = 3000
APP_HOST = localhost
